.container {
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#efect {
    text-align: center;
    font-size: 30px;
}

.icon {
    margin-top: 1rem;
}

.info-social-network:hover {
    transform: scale(1.1);
}

.list {
    margin-top: 2rem;
}
